body {
  font-family: "Arial", "Meiryo", sans-serif;
}
html {
  font-size: 20px;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem; /* ルート要素のフォントサイズの2倍 */
    letter-spacing: 1.2em; /* 文字の大きさの1.2倍を相対的に考慮 */
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px gray;
}
body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}
.bold{
  font-weight:bold;
}
.name,
.birthdate,
.blood-type{
  font-weight:bold;
}
